.main-box {
    background-color: hsl(62, 72%, 47%);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    font-family: sans-serif;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}

.main-box2 {
    background-color: lch(73.35% 69.85 151.56);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    font-family: sans-serif;
    text-align: center;
    max-width: 603px;
    margin: 23px auto;
}

.subtitle {
    font-size: 18px;
}

.offer {
    font-size: 16px;
}

.book-btn {
    background: hsl(65, 70%, 70%);
    color: #0f9d58;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;

}

.footer {
    text-align: center;
    color: hwb(69, 24%, 74%);
    margin-top: 40px;
    font-size: 30px;
}

::after